body {
  font-family: 'Open Sans', sans-serif;
}

body p {
  font-style: italic;
  font-weight: 300; /* You specify the number you see next to the fonts to change from light to bold ie you would put 700 etc. etc. */
} 
